{% extends "layout.html" %}

{% block content %}
<div id="commentBody">
    <img
        src="/images/titles/comments.png"
        alt="Title logo - comments"
    />
    <div id="commentForm">    
        <h1>Deixe uma mensagem para os noivos</h1>
        <form method="post" action="/br/addComment">
            <label>Comentário:</label><br/>
            <textarea name="content" id="comment" placeholder="Escreva sua mensagem" rows="4" cols="60" required></textarea>
            <input type="text" name="author" placeholder="Seu nome" required />
            <input type="submit" value="Enviar" />
        </form>
        <p><em>Uma vez enviado, sua mensagem será publicada abaixo.</em></p>
    </div>
    <div>
        <h1>Mensagens aos noivos</h1>
        {% if likeCommentError!=false %}
          <p>{{ likeCommentError }}</p>
        {% endif %}
        <section id="comments">
        {% for c in comments %}
          <div class="singleComment">
            <p><span class="commentAuthor">{{ c.author }}</span> <span class="commentDate">{{ c.comment_date }}</span></p>
            <p><span class="commentContent">{{ c.content }}</span></ps>
            <form method="post" action="/br/likeComment">
              <input type="hidden" name="id" value="{{ c.id }}" />
              <button type="submit" class="commentLike" name="like" value="{{ c.likes }}"><img src="/icons/like_dark.png" alt="likeIcon" /> {{ c.likes }}</button>
            </form>
          </div>
        {% else %}
          <p>Seja o primeiro a deixar uma mensagem...</p>
        {% endfor %}
        </section>
    </div>
</div>

<script>
    const commentLikes = document.getElementsByClassName("commentLike");
    
    let displayLikeLight = function() {
      this.children[0].setAttribute("src", "/icons/like_light.png");
    }

    let displayLikeDark = function() {
      this.children[0].setAttribute("src", "/icons/like_dark.png");
    }
    
    for (var i=0; i < commentLikes.length; i++) {
      commentLikes[i].addEventListener('mouseenter', displayLikeLight);
    }

    for (var i=0; i < commentLikes.length; i++) {
      commentLikes[i].addEventListener('mouseleave', displayLikeDark);
    }
</script>

{% endblock %}