{% extends "layout.html" %}

{% block content %}
<div id="commentBody">
    <div id="commentForm">    
        <h1>Laissez-nous un mot</h1>
        <form method="post" action="post_comment_fr.php">
            <label>Commentaire :</label><br/>
            <textarea name="content" id="comment" placeholder="Votre message pour les mariés" rows="4" cols="60" required></textarea>
            <input type="text" name="author" placeholder="Votre nom" required />
            <input type="submit" value="Envoyer" />
        </form>
        <p><em>Une fois envoyé, votre commentaire sera ajouté à la liste que vous pouvez trouver ci-dessous</em>></p>
    </div>
    <div>
        <h1>Ce dont vous nous avez fait part</h1>
        <section id="comments">
        {% for c in comments %}
          <div class="singleComment">
            <p><span class="commentAuthor">{{ c.author }}</span> <span class="commentDate">{{ c.comment_date }}</span></p>
            <p><span class="commentContent">{{ c.content }}</span></ps>
            <p>
              <form method="post" action="/likeComment">
                <input type="hidden" name="id" value="{{ c.id }}" />
                <input type="submit" name="like" value="{{ c.likes }}" />
              </form>
            </p>
        {% else %}
          <p>Personne n'a encore laissé de commentaire...</p>
        {% endfor %}
        </section>
    </div>
</div>

{% endblock %}
